<header>
  <h2>Covid-19 Tracker</h2>
</header>
{{outlet}}
<footer>
        <h4 style="margin: 0%;">&copy;Covid-19 Tracker</h4>
          <table>
              <tr>
                <th style="padding: 10px;"><a href="https://www.facebook.com/profile.php?id=100004663235882"><i class="fa fa-facebook" style="color:#3b5998;"></i></a></th>
                <th style="padding: 10px;"><a href="https://twitter.com/princek22012330"><i class="fa fa-twitter" style="color:#00acee;"></i></a></th>
                <th style="padding: 10px;"><a href="https://www.instagram.com/princek18/"><i class="fa fa-instagram" style="color:#E1306C;"></i></a></th>
              </tr>
          </table>
  </footer>